<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hire="http://typo3.org/ns/ChristianDorka/HireMe/ViewHelpers"
    data-namespace-typo3-fluid="true"
    lang="en">

<section id="application" class="mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card shadow">
                    <div class="card-header bg-secondary text-white py-3">
                        <h2 class="my-0 py-0 text-white">
                            <f:translate key="jobPostingDetail.applicationSend.header" extensionName="hire_me"/>
                        </h2>
                    </div>
                    <div class="card-body p-5 text-center">
                        <p class="h4 mb-4">
                            <f:translate key="jobPostingDetail.applicationSend.bodyHeader" extensionName="hire_me"/>
                        </p>
                        <p class="mb-4">
                            <f:sanitize.html>
                                <f:translate key="jobPostingDetail.applicationSend.body" extensionName="hire_me"/>
                            </f:sanitize.html>
                        </p>
                        <a href="#milestones"
                            class="btn btn-primary btn-lg px-5">
                            <f:translate key="jobPostingDetail.applicationSend.ctaBtnText" extensionName="hire_me"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</html>
