
<!-- Pagination -->
<nav class="mt-5">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <span class="page-link">Zurück</span>
        </li>
        <li class="page-item active">
            <span class="page-link">1</span>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <span class="page-link">...</span>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">42</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Weiter</a>
        </li>
    </ul>
</nav>
