<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
    lang="de">

<!-- PaginationLinks Partial - Resources/Private/Partials/JobPosting/PaginationLinks.html -->
<f:if condition="{pagination.enabled}">
    <nav class="pagination-nav" aria-label="Seitennumerierung für Blog-Artikel">

        <!-- Status anzeige -->
        <div>
            <small>
                <f:translate key="pagination.pageFromTo" extensionName="hire_me" arguments="{0: pagination.currentPage, 1: pagination.totalPages}"/>
            </small>
        </div>

        <ul>

            <!-- Erste Seite -->
            <f:if condition="{pagination.config.showFirstLast}">
                <li>
                    <f:form.button
                        type="submit"
                        property="pageNumber"
                        value="1"
                        title="{f:translate(key: 'pagination.firstPage', extensionName: 'hire_me')}"
                        additionalAttributes="{disabled: pagination.isFirstPage}">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                        <span class="sr-only"><f:translate key="pagination.firstPage"  extensionName="hire_me" /></span>
                    </f:form.button>
                </li>
            </f:if>

            <!-- Vorherige Seite -->
            <f:if condition="{pagination.config.showPrevNext}">
                <li>
                    <f:form.button
                        type="submit"
                        property="pageNumber"
                        value="{prevPageNumber}"
                        title="{f:translate(key: 'pagination.prevPage', extensionName: 'hire_me')}"
                        disabled="{f:if(condition: pagination.hasNoPreviousPage, then: true, else: false)}"
                        additionalAttributes="{disabled: '{f:if(condition: \'{pagination.hasNoPreviousPage}\', then: true, else: false)}'}">
                        <span aria-hidden="true">&lsaquo;</span>
                        <span class="sr-only"><f:translate key="pagination.prevPage"  extensionName="hire_me" /></span>
                    </f:form.button>
                </li>
            </f:if>

            <!-- Seitennummern mit Dots -->
            <f:if condition="{pagination.config.showDots}">

                <!-- Dots vor den Seitennummern -->
                <f:if condition="{pagination.hasHiddenDotsBefore}">
                    <li class="disabled">
                        <button disabled="">…</button>
                    </li>
                </f:if>

                <!-- Seitennummern -->
                <f:for each="{pagination.dots}" as="pageNumber">
                    <li>
                        <f:form.button
                            type="submit"
                            property="pageNumber"
                            value="{pageNumber}"
                            aria="{current: '{f:if(condition: \'{pagination.currentPage} == {pageNumber}\', then: \'page\', else: false)}'}"
                            title="{f:translate(key: 'pagination.pageNumber', extensionName: 'hire_me', arguments: '{0: pageNumber}')}"
                            additionalAttributes="{disabled: '{f:if(condition: \'{pagination.currentPage} == {pageNumber}\', then: true, else: false)}'}">

                            <span aria-hidden="true">{pageNumber}</span>
                            <span class="sr-only"><f:translate key="pagination.pageNumber" extensionName="hire_me" arguments="{0: pageNumber}"/></span>

                            <f:if condition="{pagination.currentPage} == {pageNumber}">
                                <span class="sr-only"><f:translate key="pagination.currentPage"  extensionName="hire_me" /></span>
                            </f:if>
                        </f:form.button>
                    </li>
                </f:for>

                <!-- Dots nach den Seitennummern -->
                <f:if condition="{pagination.hasHiddenDotsAfter}">
                    <li class="disabled">
                        <button disabled="">…</button>
                    </li>
                </f:if>

            </f:if>

            <!-- Nächste Seite -->
            <f:if condition="{pagination.config.showPrevNext}">
                <li>
                    <f:form.button
                        type="submit"
                        property="pageNumber"
                        value="{nextPageNumber}"
                        title="{f:translate(key: 'pagination.nextPage', extensionName: 'hire_me')}"
                        disabled="{f:if(condition: pagination.hasNoNextPage, then: true, else: false)}"
                        additionalAttributes="{disabled: '{f:if(condition: \'{pagination.hasNoNextPage}\', then: true, else: false)}'}">
                        <span aria-hidden="true">&rsaquo;</span>
                        <span class="sr-only"><f:translate key="pagination.nextPage"  extensionName="hire_me" /></span>
                    </f:form.button>
                </li>
            </f:if>


            <!-- Letzte Seite -->
            <f:if condition="{pagination.config.showFirstLast}">
                <li>
                    <f:form.button
                        type="submit"
                        property="pageNumber"
                        value="{pagination.totalPages}"
                        title="{f:translate(key: 'pagination.lastPage', extensionName: 'hire_me')}"
                        additionalAttributes="{disabled: pagination.isLastPage}">
                        <span aria-hidden="true">&rsaquo;&rsaquo;</span>
                        <span class="sr-only"><f:translate key="pagination.lastPage"  extensionName="hire_me" /></span>
                    </f:form.button>
                </li>
            </f:if>

        </ul>

        <!-- Zusätzliche Info (optional) -->
        <div>
            <small>
                <f:translate key="pagination.entriesFromTo" extensionName="hire_me" arguments="{0: pagination.startItem, 1: pagination.endItem, 2: pagination.totalItems}"/>
            </small>
        </div>

    </nav>
</f:if>
