
<div class="container">
    <div class="row g-3">
        <div class="col-md-5">
            <div class="input-group">
                        <span class="input-group-text bg-white">
                            <i class="bi bi-search"></i>
                        </span>
                <input type="text" class="form-control" placeholder="Stellenangebot oder ID suchen" value="Software Engineer">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                        <span class="input-group-text bg-white">
                            <i class="bi bi-geo-alt"></i>
                        </span>
                <input type="text" class="form-control" placeholder="Standort oder PLZ" value="München">
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-warning w-100 fw-bold">
                <i class="bi bi-search me-2"></i>Jobs finden
            </button>
        </div>
    </div>
</div>
